<a href="https://colab.research.google.com/github/Denise-Pro/Curso-Analise-de-Dados-Minas-Programam/blob/main/Topico2_Analisando_Dados_FlorestaAmazonica_Com_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!mkdir -p "/content/drive/MyDrive/MinasProgramam/CursoAnalisedeDados/Datasets/"

# Tópico 2 Conteúdo Programático do curso de Introdução a Análise de Dados Minas Programam

Introdução a Comandos da Biblioteca Pandas e Início da Análise

Link documentação: https://pandas.pydata.org/docs/reference/frame.html

Pandas é uma biblioteca do Python ( pacote de código aberto que contém inúmeras ferramentas dentro) muito utilizada para manipular e analizar dados.

Para que possamos utilizar o pacote Pandas basta que façamos a importação do mesmo com o comando import e 'renomeamos' esse pacote para pd por fins de conveção

In [2]:
import pandas as pd

Talvez seja necessária uma instalaçãozinha antes ...  se o caomando acima não funcionar  ...

Instalando o pacote Pandas:

In [ ]:
!pip install pandas # somente execute caso a importação acima der algum erro

Importação dos Dados a serem Analisados e Cração de Dataframes

Pandas Manipula dois tipos de estruturas de Dados:

* a estrutura unidimensional que so admite uma coluna e n linhas a qual chamamos de Series. Uma lista se assemelha a essa estrutura;

* a estrutura Bidimensional (mais utilizada) que admite n numero de linhas e n numero de colunas a qual chamamos de DatraFrames. planilhas de excel ou tabelas SQl são estruturas semelhantes.

Em um Dataframe as colunas podem assumir vários formatatos de dados diferentes e entre si inclusive.

A criação de um Dataframe pode ser realizada a partir de vários tipos de outras estruturas de dados como json, dicionário, planilha excel, arquivo csv, txt etc.

Vejamos a seguir como criar um Datafram a partir de um arquivo com a extensão .csv

In [7]:
df_areaDesmatada = pd.read_csv('/content/drive/MyDrive/MinasProgramam/CursoAnalisedeDados/Datasets/def_area_2004_2019.csv', encoding='LATIN1')

Alguns dos Comandos de Visualização de um Dataframe:

 * print() -> comando mais básico de visualização em qualquer linguagem de programação
 * display() - > Cumpre a mesma função do print, porém apresenta os dados de forma mais estruturada parecida com uma tabela 
 * head() -> com ele é possível limitar o número de linhas a serem visualizadas por padrão ele exibirá as primeiras 5 linhas

In [12]:
df_areaDesmatada.head(2)

   ï»¿Ano/Estados   AC    AM  AP   MA     MT    PA    RO   RR   TO  AMZ LEGAL
0            2004  728  1232  46  755  11814  8870  3858  311  158      27772
1            2005  592   775  33  922   7145  5899  3244  133  271      19014

In [ ]:
df_areaDesmatada.head()

Renomeando Campos de um DataFrame

Sintaxe: df.rename(columns={"A": "a"}) 
Passamos na forma de um dicionário, sendo o primeiro parâmetro ou a chave (aquele que queremos renomear) o que está antes do ':' e o valor ou segundo parâmetro o novo nome do campo.

In [ ]:
display(df_areaDesmatada)
# print(df_areaDesmatada)

In [13]:
df_areaDesmatada.rename({'ï»¿Ano/Estados' : 'Anos', "AMZ LEGAL" : "Area Total"})
df_areaDesmatada.head()

   ï»¿Ano/Estados   AC    AM   AP    MA     MT    PA    RO   RR   TO  AMZ LEGAL
0            2004  728  1232   46   755  11814  8870  3858  311  158      27772
1            2005  592   775   33   922   7145  5899  3244  133  271      19014
2            2006  398   788   30   674   4333  5659  2049  231  124      14286
3            2007  184   610   39   631   2678  5526  1611  309   63      11651
4            2008  254   604  100  1271   3258  5607  1136  574  107      12911

Pergunta 1: Por que Vocês Acham que o método rename utilizado na célula acima não funcionou??

In [14]:
df_areaDesmatada.rename({'ï»¿Ano/Estados':'Anos','AMZ LEGAL':'Area Total'}, 
    axis=1, 
    inplace=True)
df_areaDesmatada.head(2)

   Anos   AC    AM  AP   MA     MT    PA    RO   RR   TO  Area Total
0  2004  728  1232  46  755  11814  8870  3858  311  158       27772
1  2005  592   775  33  922   7145  5899  3244  133  271       19014

Nós precisamos fazer com que as alterações fiquem salvas, em um outro paradigma de programação nós precisaríamos fazer uma atribuição a uma variável, e aqui nós utilizamos o parâmetro Booleano **inplace=True** e assim garantimos que a alteração feita no conjunto de dados tornece definitiva .. isso se aplica em outros médodos como drop duplicates etc 

Para que a alteração se dê de forma mais efetiva nós também especificamos o eixo o qual queremos modificar , esse é o trabalho que o parâmetro setado como axis = 1 está fazendo. Nesse caso **axis = 1** indica alteração na coluna de um df e axis = 0 nas linhas do mesmo.

**Entendimento Geral da Base de Dados**

Qual a àrea total desmatada desde 2004?

Qual foi o ano em que se observou a maior área total deamatada da Floresta Amazônica?

Quanto houve de desmatamento entre os anos 2009 e 2019 no Estado que compreende a maior área devastada?

O metodo sum() quando utilzado sem passar nenhum parâmetro retornará o valor somado de todas as colunas numéricas do Datraframe

Caso queiramos somar uma coluna ou um conjunto específico de colunas devemos passá- las como parâmetro da seguinte forma:

df['coluna1', 'coluna2'].sum()

Lembrando que é importante setar o eixo, sendo axis=0 se quiser somar linhas e axis=1 para soma de colunas

In [ ]:
# àrea total desmatada desde 2004
areaDesmatadaTotal =  df_areaDesmatada['Area Total'].sum()
print(areaDesmatadaTotal)

160335

Utilizamos o **Método Drop** quando queremos excluir linhas ou colunas do nosso conjunto de dados.

sintaxe:
    df.drop(['coluna1', 'coluna2'])

  É bem importante ressaltar que o que dirá se uma linha ou uma coluna será excluída é o eixo que foi passado como parâmetro. Por padrão o drop exclui linhas, ou seja, o esixo setado como padrão é axis=0 caso nenhum parâmetro de eixo seja passado.

 Em casos onde queiramos uma exclusão definitiva, não podemos esquecer de passar o inplace=TRUE

In [ ]:
# Descobrindo o Estado que compreende a maior área devastada
df_estados = df_areaDesmatada.drop(['Anos', 'Area Total'], axis=1)

df_estados.sum().sort_values(axis=0, ascending=False)

Utilizamos o Metodo **sort_values** quando queremos ordenar uma coluna de um dataframe

Sintaxe: df.sort_values(by=['col1', 'col2'])

Por padrão ele Ordena linhas e em ordem crescente. Caso queiramos alterar a ordem basta passar false no parâmetro ascending.

In [ ]:
# vimos que o estado onde há mais desmatamento é o PA , agora vamos atribuír -lo a uma variável:

df_estadosOrdenados = df_estados.sum().sort_values(axis=0, ascending=False)

# type(df_estadosOrdenados) # com esse comando podemos descobrir o tipo de variável com a qual estamos trabalhando

# df_estadosOrdenados.head(1)
EstadoMaisDesmatado = df_estadosOrdenados[0]

# as duas útimas linhas acima servem para atribuir a primeira linha do dataframe df_estadosOrdenados à variável EstadoMaisDesmatado
print(EstadoMaisDesmatado)

In [ ]:
# Antes de Filtrar os anos analiso pra entender com que tipo de dados estou trabalhando
df_areaDesmatada.info()

Loc é o metodo de busca mais utilizado da Biblioteca Pandas. Com ele podemos obter linhas e colunas que correspondam a alguma condição que passarmos como parâmetro na busca em um conjunto de dados.

Há pelo menos 3 jeitos de obter dados entre os anos de 2009 e 2019, vejamos a seguir:

In [ ]:
# df_areaDesmatada.loc[df_areaDesmatada['Anos'] >= 2009]
# df_areaDesmatada.loc[5:]
df_areaDesmatada.loc[((df_areaDesmatada['Anos'] >= 2009) & (df_areaDesmatada['Anos'] <= 2019))]

Agora que sabemos como pegar o Estado com Maior àrea desmatada e como filtrar o período entre 2009 e 2019, vamos responder a pergunta:

Quanto houve de desmatamento entre os anos 2009 e 2019 no Estado que compreende a maior área devastada?

In [ ]:
df_areaDesmatada.loc[df_areaDesmatada['Anos'] >= 2009].sum().sort_values()

In [ ]:
DesmatamentoPaentre2009e2019 = df_areaDesmatada.loc[df_areaDesmatada['Anos'] >= 2009].sum().sort_values(axis=0, ascending=False)[1]
print("o Estado com maior área devastada é o PA e {} Km2 foram desmatados entre o período de 2009 e 2019 ".format(DesmatamentoPaentre2009e2019))

**Desafio 1**:
Qual foi o ano em que se observou a maior área total desmatada da Floresta Amazônica?